body {
    background-color: #fff;
}

button {
    background-color: #eee;
    margin: 10px;
    padding: 10px;
    color: #000;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
}

.iconbar {
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    width: 80px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px 2px 2px #eee;
}

.iconbar span {
    font-size: 40px;
}

@keyframes point-flash {
    10% {
        background-color: #fff;
    }
    50% {
        background-color: rgb(70, 206, 70);
    }
    90% {
        background-color: #fff;
    }
}

@keyframes wrong-flash {
    10% {
        background-color: #fff;
    }
    50% {
        background-color: rgb(255, 49, 49);
    }
    90% {
        background-color: #fff;
    }
}

@keyframes streak-flash {
    10% {
        background-color: #fff;
    }
    50% {
        background-color: rgb(230, 155, 57);
    }
    90% {
        background-color: #fff;
    }
}

#ptbar {
    animation: point-flash 1s ease paused infinite;
}

#wrongbar {
    animation: wrong-flash 1s ease paused infinite;
}

#streakbar {
    position: absolute;
    right: 0;
    animation: streak-flash 1s ease paused infinite;
}

.icons {
    font-size: 40px;
}

#pt-icon {
    color: rgb(41, 192, 41);
}

#wrong-icon {
    color: rgb(255, 0, 0);
}

#streak-icon {
    color: rgb(218, 132, 21);
}

#hi-icon {
    color: rgb(216, 0, 0);
}

#choices-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choices-ctr button {
    width:80vw;
    padding: 20px 10px;
    margin: 5px;
}

#volume-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background-color: #bbb;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#volume:hover {
    opacity: 1;
}

#restart-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fffb;
    display: none;
    align-items: center;
    justify-content: center;
}

#restart-page button {
    background-color: #0003;
}

#restart-page button:hover {
    background-color: #0004;
}

#restart-btn {
    font-size: 50px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    text-align: center;
}